@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

svg {

  circle {
    fill: #fff;
  }

  line,
  polyline {
    fill: none;
    stroke: #fff;
  }

  polyline {
    stroke-width: 15;
  }

  line {
    stroke-width: 3;
  }

}

ul {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;

  li {
    display: inline-block;
    margin: 5px;
    list-style: none;
  }
}

.underlined-letter {
  height: 50px;
  width: 50px;
  position: relative;
  margin: 0 15px;

  .letter,
  .underline {
    position: absolute;
    left: 0;
    right: 0;
  }

  .letter {
    font-size: 22px;
    height: 45px;
    width: 50px;
    top: 0;
  }

  .underline {
    bottom: 0;
    height: 5px;
    background-color: #fff;
  }

}
