@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

//$nb-enabled-themes: (default, cosmic, corporate, dark);
$nb-enabled-themes: (dark);

$nb-themes: nb-register-theme((
  font-family-primary: Exo,
  font-family-secondary: Exo,
), dark, dark);

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}

